<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/ionicons.min.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
</head>
<body>
<div class="panel panel-default">
    <!-- <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
        	<li>1、</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;获取帮助</h3>
        <ul>
            <li>1、</li>
            
        </ul>
    </div> -->
    <aside>
	    <section class="content">
	      <!-- Info boxes -->
	      <div class="row">
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text">CPU Traffic</span>
	              <span class="info-box-number">90<small>%</small></span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text">Likes</span>
	              <span class="info-box-number">41,410</span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	
	        <!-- fix for small devices only -->
	        <div class="clearfix visible-sm-block"></div>
	
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text">Sales</span>
	              <span class="info-box-number">760</span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text">New Members</span>
	              <span class="info-box-number">2,000</span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	      </div>
	      <!-- /.row -->
	    </section>
    </aside>
</div>
</body>
</html>